*{    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #9297e0;
    
}
.container{
    display: flex;
    height: 650px;
    width: 850px;
    align-content: right;
    flex-direction: row;
    justify-content: right;
    /* border: 1px solid black; */
    /* margin:auto; */
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:40px;

}
input{
    padding:12px;
    width: 65%;
    margin:15px;
    border:1px solid black;
    outline:none;
    border-radius: 20px;
}
.button{
    padding:12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color:white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;

}
#submit:hover{
    cursor:pointer;
    background-color:#C0C0C0;
}
.fomr a{
    text-decoration: none;
    color:#252525;
    margin-top: 20px;

}
.form a:hover{
    color: #C0C0C0;
}
.side{
  
    justify-content: center;
    align-items: center;
    width:50%;
    background-color: #999ede;

}
.side img{
    width:450px;
    height: 450px;
}